<!-- Boot strap HTML -->

<!DOCTYPE html>
<html>
<head>
  <title>Demo App </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/yellow.css">

</head>
<body>
  <div class="app app-default">

<div class="app-container app-login">
  <div class="flex-center">
    <div class="app-header"></div>
    <div class="app-body">
      <div class="loader-container text-center">
          <div class="icon">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
              </div>
            </div>
          <div class="title">Signup</div>
      </div>
      <div class="app-block">
        <div class="app-right-section">
          <div class="app-brand">Register youself Here !</div>
          <div class="app-info">
            
            <ul class="list">
              <li>
                <div class="icon">
                  <i class="fa" aria-hidden="true">1</i>
                </div>
                <div class="title">Simple <b>CURD</b></div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa" aria-hidden="true">2</i>
                </div>
                <div class="title">Feature of <b>Tagging</b></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="app-form">
          <div class="form-suggestion">
            Create an account for free.
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
              <div class="input-group">
                
              <%= f.email_field :email, autofocus: true, placeholder: "email", :class => "form-control",:aria_describedby=>"basic-addon1" %>
              </div>
            
              <div class="input-group">
               <%= f.password_field :password, autocomplete: "off",placeholder: "Password",:class => "form-control",:aria_describedby=>"basic-addon3" %>
              </div>
              <div class="input-group">
                <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Password confirmation",:class => "form-control",:aria_describedby=>"basic-addon4" %>
              </div>
              <div >
                  <%= f.submit "Register",:class => "btn btn-success btn-submit" %>
              </div>
          <%end%>
          
        </div>
      </div>
    </div>
    <div class="app-footer">
    </div>
  </div>
</div>

  </div>
  
  <script type="text/javascript" src="../assets/js/vendor.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>

</body>
</html>