<!-- Bootstrap code -->
<!DOCTYPE html>
<html>
<head>
  <title>Flat Admin V.3 - Free flat-design bootstrap administrator templates</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/yellow.css">

</head>
<body>
  <div class="app app-default">

<%= render 'shared/sidebar' %>

<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>

<%= render 'shared/nav_bar' %>

  <div class="row">
    <div class="col-xs-12">
      <div class="card">
       
        <div class="card-body">
          <div class="row">
  
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header navbar-collapse collapse in">
          <div class="navbar-left">
              <b>Stored Links</b>
          </div>
          <div class="navbar-right" style="padding-bottom: 15px;">
              <%= form_tag links_path, :method => 'get', :id => "links_search" do %>
                <%= text_field_tag :search, params[:search], :id => "search", :type => "text", :placeholder => "Search.." %>
                <%= submit_tag "Search", :name => nil,:class => "btn-search" %>
              <%end%>
          </div>
        </div>
        <div class="card-body no-padding">
          <table id = "links" class="datatable table table-striped primary" cellspacing="0" width="100%">
    <%= render 'links'%>
   
    </tbody>
</table>
  <%= will_paginate @products %>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
  
  <script type="text/javascript" src="../assets/js/vendor.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>

</body>
</html>

